<?xml version="1.0" encoding="UTF-8"?>
<!--
    PHPUnit-configuratie voor SpendSmart.
    De tests gebruiken een eigen database (spendsmart_test), zodat je echte gegevens nooit worden aangeraakt.
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheResultFile=".phpunit.cache/test-results"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutOutputDuringTests="true"
         stderr="true"
         verbose="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integratie">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage">
        <include>
            <directory suffix=".php">app</directory>
        </include>
        <report>
            <html outputDirectory="coverage/html"/>
            <text outputFile="coverage/coverage.txt" showUncoveredFiles="true"/>
        </report>
    </coverage>

    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_DEBUG" value="false" force="true"/>
        <env name="DB_NAME" value="spendsmart_test" force="true"/>
    </php>
</phpunit>
